{% include 'header.html.twig' %}

    <div class="container-fluid">
        <h1 class="h3 mb-4 text-gray-800">Cadastrar Novo Status</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-sm-5">
                {{ form_row(form.descricao) }}
            </div>
        </div>

        <input class="btn btn-success btn-icon-split" type="submit"/>
        <a href="{{ path('status_listar') }}">
        <button class="btn btn-success btn-icon-split" type="button">Voltar</button>                                              
        </a>
    </div>

{% include 'footer.html.twig' %}
