{% include 'header.html.twig' %}
            <!-- End of Topbar -->
            <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Descrição</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Descrição</th>
                                            <th>Ações</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for sts in status %}
                                            <td>{{ sts.id }}</td>
                                            <td>{{ sts.descricao }}</td>
                                            <td>
                                                <a href="editar/{{ sts.id }}" class="btn btn-success btn-circle btn-sm" title="Editar">
                                                    <i class="fas fa-check"></i>
                                                </a>
                                                 <a href="remover/{{ sts.id }}" class="btn btn-danger btn-circle btn-sm" title="Remover">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                   {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% include 'footer.html.twig' %}
